Django==6.0.5
djangorestframework>=3.17
django-cors-headers>=4.0
python-dotenv>=1.0
dj-database-url>=3.1
gunicorn>=26.0
whitenoise>=6.12
pillow>=12.1
psycopg[binary]>=3.2
cloudinary>=1.44
django-cloudinary-storage[video]>=0.3
